httpx>=0.28.0
numpy>=1.26.4
cryptography>=42.0.0
h2>=4.1.0
hpack>=4.0.0
uvloop>=0.19.0
# Advanced Strategy Dependencies (Linux Only)
NetfilterQueue>=1.0.0
scapy>=2.4.5
# Lab & Testing
hypercorn>=0.16.0
flask>=3.0.0
pytest>=8.0.0
pytest-asyncio>=0.23.5
pytest-cov>=5.0.0
