httpx>=0.28.1
numpy>=2.4.0
cryptography>=46.0.3
h2>=4.3.0
hpack>=4.1.0
uvloop>=0.22.1
# Advanced Strategy Dependencies (Linux Only)
NetfilterQueue>=1.1.0
scapy>=2.6.1
# CLI Dependencies
prompt_toolkit>=3.0.52
colorama>=0.4.6
aioquic>=1.3.0
websockets>=10.
